.container {
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(25% - 20px));
  grid-template-rows: 1fr;
  gap: 20px;
  justify-content: center;
}
.taken-seat, .untaken-seat {
  margin: 0 auto;
}
.untaken-seat {
  width: 64px;
  height: 64px;
  background-color: lightblue;
  border-radius: 5%;
  padding: 0;
  border: 2px solid blue;
}

.taken-seat {
  width: 64px;
  height: 64px;
  background-color: lightcoral;
  border-radius: 5%;
  padding: 0;
  border: 2px solid red;
}

.seat {
  width: 10px;
  height: 10px;
  /* border-radius: 5%; */
  padding: 0;
  /* border-width: 2px;
  border-style: solid; */
}

.seat {
  background-color: transparent;
  /* border-color: gray; */
}

.row {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}
