<div style="display: flex; flex-direction: column; gap: 20px; height: 100%;">
  <div style="position: relative; width: 100%; flex-grow: 1; min-height: 400px;" class="canvas">
    <deckgo-drr
    *ngFor="let layout of layouts; index as i"
    unit="px"
    [style]="'--width:' + layout.width + 'px; --height: ' + layout.height + 'px;'"
    style="pointer-events: auto;"
    (drrDidChange)="setNewPosition($event, i)">
    <mat-card style="padding: 0; pointer-events: auto;">
        <mat-card-header style="display: block;">
          <mat-card-title style="display: flex; align-items: center;">{{layout.name}}<button mat-button (click)="removeLayout(i)" style="margin-left: auto;"><mat-icon>close</mat-icon></button></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngFor="let row of [].constructor(layout.rows); index as i" class="row">
              <span style="width: 10px;">{{i+1}}</span>
              <mat-icon *ngFor="let column of [].constructor(layout.columns); index as j" [style]="'color: ' + layout.type.colorMark">event_seat</mat-icon>
            </div>
        </mat-card-content>
      </mat-card>
      </deckgo-drr>
  </div>
  <div style="display: flex; flex-direction: row; gap: 20px; align-self: flex-start; width: 100%;">
    <mat-card style="flex-grow: 1;">
      <mat-card-header>
        <mat-card-title>Set seat layout</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (submit)="addLayout(formLayoutDirective)" [formGroup]="layoutForm" class="form" #formLayoutDirective="ngForm" style="display: flex; flex-direction: column;">
          <mat-form-field class="input-group">
            <mat-label>Number of rows</mat-label>
            <input matInput type="number" min="1" step="1" formControlName="rows">
          </mat-form-field>
          <mat-form-field class="input-group">
            <mat-label>Number of columns</mat-label>
            <input matInput type="number" min="1" step="1" formControlName="columns">
          </mat-form-field>
          <mat-form-field class="input-group">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Layout type</mat-label>
            <mat-select formControlName="type" matInput>
              <mat-option *ngFor="let type of types; index as i" [value]="i">{{type.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button color="primary" [disabled]="!layoutForm.valid || !layoutForm.touched || !layoutForm.dirty">Add layout</button>
        </form>
      </mat-card-content>
    </mat-card>

      <mat-card style="display: flex; flex-direction: column; flex-grow: 1;">
        <mat-card-header>
          <mat-card-title>Add new ticket type</mat-card-title>
        </mat-card-header>
        <mat-card-content style="flex-grow: 1; display: flex;">
          <form [formGroup]="typeForm" (submit)="addType(formTypeDirective)" class="form" #formTypeDirective="ngForm" style="display: flex; flex-direction: column; justify-content: space-between; flex-grow: 1;">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Mark color</mat-label>
              <input matInput type="color" formControlName="colorMark">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Price</mat-label>
              <input matInput type="number" formControlName="price" placeholder="In ETH">
            </mat-form-field>
            <button mat-button color="primary" [disabled]="!typeForm.valid || !typeForm.touched || !typeForm.dirty">Add new type</button>
          </form>
        </mat-card-content>
      </mat-card>

      <mat-card style="flex-grow: 1;">
        <mat-card-header>
          <mat-card-title>Ticket types</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let type of types; index as i" style="display: flex; gap: 10px; align-items: center; cursor: pointer;">
            <div class="seat" [style]="'background-color:'+type.colorMark" style="border:none"></div>
            <span>{{type.name}}</span>
            <button mat-button color="warn" (click)="removeType(i)"><mat-icon>close</mat-icon></button>
          </div>
        </mat-card-content>
      </mat-card>
  </div>

</div>
