<deckgo-drr
  unit="px"
  [style]="'--width:' + layout!.columns * 40 + '; --height: ' + layout!.rows * 40 + ';--deckgo-drr-anchor-padding-desktop: 20px'">
  <mat-card style="padding: 0;">
    <mat-card-header>
      <mat-card-title>{{layout!.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="canvas">
        <div *ngFor="let row of [].constructor(layout!.rows); index as i" class="row">
          <span style="width: 10px;">{{i+1}}</span>
          <div *ngFor="let column of [].constructor(layout!.columns); index as j" class="seat" [style]="'background-color: ' + layout!.type.color"></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</deckgo-drr>
