.row {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 20px;
}

.seat {
  background-color: transparent;
  border-color: gray;
}

.taken-seat, .untaken-seat, .seat {
  width: 10px;
  height: 10px;
  border-radius: 5%;
  padding: 0;
  border-width: 2px;
  border-style: solid;
}
