<div class="hero">
  <h1 class="hero-title">{{event?.name}}</h1>
  <img [src]="event?.coverURL" [alt]="event?.coverURL" style="flex: 2;">
</div>

<div id="wrapp" style="flex: 1;">
  <mat-tab-group style="width: 100%;" mat-align-tabs="center">
    <mat-tab label="Event" style="width: 100%;">
      <ng-template matTabContent>
        <mat-card style="flex:1; width: 100%; padding: 0; margin-top: 40px; border: none; box-shadow: none;">
          <mat-card-header style="justify-content: center;">
            <mat-card-title style="text-align: center; margin-bottom: 30px; font-size: 30px;">{{event?.name}}</mat-card-title><button mat-raised-button color="primary" disabled *ngIf="event?.isCanceled">CANCELED</button>
            <mat-card-title style="text-align: center;">{{event?.location}}, {{event?.city}}</mat-card-title>
            <mat-card-title style="text-align: center;">{{event?.datetime | date:"dd.MM.YYYY. hh:mm"}}</mat-card-title>
            <mat-card-title *ngIf="!event?.isCanceled" style="display: flex; justify-content: center; margin-top: 30px;">
              <button mat-button color="warn" *ngIf="isOwner && isCreator" (click)="cancelEvent()">Cancel</button>
              <button mat-button color="primary" *ngIf="isOwner && isCreator" (click)="goEdit()">Edit</button>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ng-container *ngIf="event">
              <app-ticket [event]="event" [isCreator]="isCreator" [eventName]="event.name"></app-ticket>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab label="Description">
      <ng-template matTabContent>
        <mat-card>
          <mat-card-header>
            <mat-card-title style="font-size: 30px;">Description</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div [innerHTML]="description"></div>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

