<div mat-dialog-content>
  <h2 mat-dialog-title>Create event</h2>
  <div mat-dialog-content>
    <form class="form" [formGroup]="form">
      <mat-form-field class="input-group">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field class="input-group">
        <mat-label>Price</mat-label>
        <input matInput type="number" min="0.01" step="0.01" formControlName="price">
      </mat-form-field>

      <mat-form-field class="input-group">
        <mat-label>Total tickets</mat-label>
        <input matInput type="number" min="1" formControlName="totalTickets">
      </mat-form-field>

      <mat-form-field class="input-group">
        <mat-label>Date</mat-label>
        <input matInput type="date" formControlName="date">
      </mat-form-field>

      <mat-form-field class="input-group">
        <mat-label>Time</mat-label>
        <input matInput type="time" formControlName="time">
      </mat-form-field>

      <mat-form-field class="input-group">
        <mat-label>Location</mat-label>
        <input matInput type="text" formControlName="location">
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="create()">Create</button>
    <button mat-button color="accent" (click)="close()">Cancel</button>
  </div>
</div>
